body {
  margin: 0;
  background-color: rgb(242, 238, 238);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
display: flex;
justify-content: center;
}

.sub_header{
display: flex;
}


img{
  height: 88px;
  width: 156px;
}
.navigationBar{
  display: inline-flex;
  
}

.user{
  display: flex;
  justify-content:center;
  justify-content: space-between;
}
